sentence-transformers
uvicorn
ctransformers
langchain
python-box
streamlit
sqlalchemy
langchain
langchain-community
langchain-google-genai
torch
transformers
langchain_community
beautifulsoup4
pandas
pypdf
ChatGoogleGenerativeAI
pandas