torch --index-url https://download.pytorch.org/whl/cpu
torchvision
sentence-transformers
uvicorn
ctransformers
langchain
python-box
streamlit
sqlalchemy
langchain-community
langchain-google-genai
transformers
beautifulsoup4
pypdf
pandas
llama-cpp-python
accelerate
hf_xet
