sentence-transformers
uvicorn
ctransformers
langchain
python-box
streamlit
sqlalchemy
langchain
langchain-community
langchain-google-genai
transformers
beautifulsoup4
pypdf
pandas
accelerate

hf_xet
